@font-face {
    font-family: 'gotham_book';
    src: url('../assets/fonts/gotham/GothamHTF-Book.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'gotham_bold';
    src: url('../assets/fonts/gotham/GothamHTF-Bold.otf');
    font-weight: normal;
    font-style: normal;;
  }
  
  @font-face {
    font-family: 'gotham_medium';
    src: url('../assets/fonts/gotham/GothamHTF-Medium.otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'roboto_regular';
    src: url('../assets/fonts/roboto/roboto-regular.ttf');
    font-weight: normal;
    font-style: normal;
  }


.titulo{
  font-size: 5rem;
  font-family: 'gotham_medium', sans-serif;
}

.paragrafo,
.listas{
  font-size: 1.25rem;
  font-family: 'gotham_book', sans-serif;
}

@media(max-width: 900px){
  .titulo{
    font-size: 2.5rem;
  }
  .paragrafo,
  .listas{
    font-size: 1.125rem;
  }
}



