.break-image-section {
    background-image: url('../../assets/imgs/break-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
