.bg-educacao {
    height: 100%;
    background-color: var(--cor-cultured);
    padding: 10rem 0 8rem 0;
}

.educacao-content {
    padding: 5rem 0;
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    font-family: 'gotham_book';
    color: var(--cor-davys-grey);
}

.title {
    color: var(--cor-chinese-black);
}

.div-img {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
}

.div-img p{
    max-width: 150rem;
}

.div-img img{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    max-width: 100%;
    height: auto;
    display: block;
}

.modal-img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content img {
    max-width: 90%;
    max-height: 90%;
}

.areas-fiap {
    max-width: 100%;
    font-size: 1.25rem;
}

.area {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1rem 0 1.5rem 0;
    
}

.lista-areas{
    margin: 1.5rem 0;
}

.area h3 {
    color: var(--cor-davys-grey);
    margin-bottom: 1rem;
    font-weight: normal;
}
.area h3 span{
    color: var(--cor-magenta);
    padding-right: 1.25rem;
}

.area ul {
    list-style: none;
    padding-left: 3.7rem;
}

.area ul li {
    color: var(--cor-magenta);
    margin-bottom: 0.5rem;
    position: relative;
}

.area ul li::before {
    content: "-";
    position: absolute;
    left: -1rem;
    color: var(--cor-magenta);
}

@media(max-width:1600px){
    .div-img img {
        max-width: 31.25rem;
    }
}

@media(max-width:1200px){
    .educacao-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .title{
        justify-content: center;
        align-items: center;
    }

    .areas-fiap{
        margin-bottom: 5rem;
    }
}

@media(max-width: 900px) {
    .modal-content img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: none;
    }

    .title{
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:600px){
    .educacao-content{
        flex-direction: column;
        gap: 5rem;
        padding: 3rem 0;
    }

}